$lightgreen: #b9e7e7;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// html,
// body {
//   width: 100%;
//   height: 100%;
// }

.app {
  display: flex;
  justify-content: center;
  .container {
    width: 85vw;

    .link {
      text-decoration: none;
      color: inherit;
    }
    //login and register

    .auth {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: $lightgreen;
    }

    h1 {
      font-size: 40px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      color: rgb(6, 93, 93);
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 30px;
      background: white; //
      border-radius: 16px;
      box-shadow: 0 4px 32px 0 rgba(29, 141, 155, 0.37);
      backdrop-filter: blur(10px); // strong blur for glass effect
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      min-width: 30vw;
      gap: 20px;

      input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 4px;
        background: teal;
        color: white;
        cursor: pointer;
      }

      p {
        color: red;
        text-align: center;
      }

      span {
        font-size: 14px;
        text-align: center;
      }
    }

    //navbar

    .navbar {
      .container {
        padding: 10px 0px;
        width: 85vw;
        margin-top: 5px;
        // background-color: red;
        border-radius: 10px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
          img {
            width: 38px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          #h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: $lightgreen;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid white;

            &:hover {
              color: teal;
              background-color: white;
              border: 1px solid teal;
            }
          }
        }
      }
    }

    //footer

    footer {
      margin-top: 100px;
      padding: 20px;
      background-color: $lightgreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 40px;
      }
    }

    //home page

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 150px;

        .post {
          display: flex;
          gap: 100px;

          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
              text-decoration: none;
              outline: none;
            }

            h1 {
              font-size: 48px;
              text-align: justify;
            }

            p {
              font-size: 18px;
              text-align: justify;
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid $lightgreen;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightgreen;
                color: black;
              }
            }
          }
        }
      }
    }

    //single page

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
          color: black;
        }

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }

          .edit {
            display: flex;
            gap: 5px;

            img {
              width: 20px;
              height: 20px;
              object-fit: cover;
              cursor: pointer;
            }
          }
        }

        h1{
          font-size: 42px;
          color: #333;
        }

        p{
          text-align: justify;
        }

      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1{
          font-size: 20px;
          color: #555;
        }

        .post{
          display: flex;
          flex-direction: column;
          gap: 10px;

          img{
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2{
            color: #555;
          }

           button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid $lightgreen;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightgreen;
                color: black;
              }
            }
        }
      }
    }

    //write page

    .add{
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content{
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input{
          padding: 10px;
          border: 1px solid lightgray;
        } 

        .editorContainer{
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;
        }

        .editor{
          height: 100%;
          border: none;
        }
      }

      .menu{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item{
          border: 1px solid lightgray;
          padding: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: none;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            :first-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            :last-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }
}
